/*
Shankar Ghimire
StudentId:991585190
Course: ...............
*/
/* 
    Created on : Mar 21, 2020, 4:20:27 PM
    Author     : Dell
*/

body{
    font-family: Arial, Helvetica, sans-serif;
}
#main-content{
    width: 500px;
    background-color: cyan;
}